@media print {
    /* All your print styles go here */
    #header, #footer, #nav { display: none !important; }

}

/*
@page {
    @bottom-right {
        content: counter(page) ' of ' counter(pages);
    }
}
*/

@media all {
    @page {
        /*size: A4 portrait !important; !* 210 × 297 millimeters *!*/
        size: A4 portrait !important;
    }
    footer {
        /*position: fixed; bottom: 100px; left: 0px; right: 0px; font-family: Arial, sans-serif;*/
        /*background-color: lightblue; height: 50px; */
    }
    .div_break {
        page-break-inside: avoid !important;
    }
    body {
        /*margin: 11.25pt;*/ /*15px*/
        /*total dimensions : width: 210mm, height: 297mm*/
        width: 190mm;
        height: 287mm;
        line-height: 1.4;
        /*text-align: center;*/
        padding: 5mm 10mm;
    }
    * {
        font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
        font-size: 13pt;
    }
    td {
        padding: 0px;
    }
    html {

    }
    table {
        border-collapse: collapse;
        width: 100%;
        border: 0px #ffffff;
        page-break-after:auto;
        page-break-before:auto;
        page-break-inside:auto;
    }
    li {
        padding-bottom: 6px;
        text-align: justify;
        /*page-break-inside: avoid !important;*/
    }
    ol {
        page-break-inside: avoid !important;
    }
    sup {
        font-size: 11px;
    }
    table, th, td {
        border-collapse: collapse;
        /*border: 1px solid #dddddd;*/
    }
    tr {
        page-break-inside:avoid; page-break-after:auto;
    }

/*    #pageCounter {
        counter-reset: pageTotal;
    }
    #pageCounter span {
        counter-increment: pageTotal;
    }
    #pageNumbers {
        counter-reset: currentPage;
    }
    #pageNumbers div:before {
        counter-increment: currentPage;
        content: "Page " counter(currentPage) " of ";
    }
    #pageNumbers div:after {
        content: counter(pageTotal);
    }*/

}