@media print {
    /* All your print styles go here */
    #header, #footer, #nav { display: none !important; }
}
@media all {
    @page {
        /*size: A4 portrait !important; !* 210 × 297 millimeters *!*/
        size: A4 portrait !important;
    }
    footer {
        position: fixed; bottom: 100px; left: 0px; right: 0px; font-family: Arial, sans-serif; /*background-color: lightblue; height: 50px; */
    }
    .div_break {
        page-break-inside: avoid !important;
    }
    body {
        margin: 11.25pt; /*15px*/
        /*padding-left: 15px;*/
        text-align: center;
    }
    * {
        font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
        font-size: 12pt;

    }
    td {
        padding: 0px;
    }
    html {
        width: 210mm;
        height: 297mm;
    }
    table {
        border-collapse: collapse;
        width: 100%;
        border: 0px #ffffff;
    }
    sup {
        font-size: 11px;
    }
    li {
        text-align: justify;
    }

}