/*.nav-link {
    color: #111 !important;
    border: 0 solid #d6d6d6 !important;
    margin-left: .1rem !important;
    background: #ddd !important;
}*/
/*
#nav li ul li a:hover, #nav-mega li ul li a:hover {
  color: #FFFFFF;
  background-color: #32CD32;
}

#nav-mega ul li.dropdown-mega-item .dropdown-mega-menu ul li a:hover {
    background: #32CD32 !important;
}

.nav-tabs {
    background: #d1ddd1 !important;
    border-radius: 4px;
}

.nav-item {
    background: #93c0e4 !important;
    margin-left: .0rem !important;
    border-radius: 3px;
}

.nav-item:hover {
    background: #fefefe !important;
}

.nav-link:hover {
    background: #f0f0f0 !important;
}

.nav-link {
    color: #111 !important;
    border: 0 solid #d6d6d6 !important;
    margin-left: .1rem !important;
    background: #ddd !important;
}

.nav-link.active {
    color: #ffffff !important;
    background: #788b66 !important;
}

.nav-link.active:hover {
    background: #93c0e4 !important;
}

.nav_tab_pane {
    padding: 0px !important;
    !*background: #0f82f5 !important;*!
}
.nav_tab_pane_header {
    !*background: #0f82f5 !important;*!
    background: #cddbf5 !important;
    border-radius: 4px;
}
.nav_button{
    background: #0f82f5 !important;
    border: solid 0px #0f82f5 !important;
}

.nav_button:hover {
    background: rgba(57, 130, 255, 0.84) !important;
    border: solid 0px #0f82f5 !important;
    color: #ffffff !important;;
}
*/

/*Header*/
.wrapper #header {
    background: #4c66a4;}


/*Body content - Background color*/
body {
        background: #ffffff  !important;}


/*Bottom_border_custom - grey faint*/

#bottom_border_custom {
    border-bottom: solid 1px rgba(188, 226, 183, 0.78);
}


.bottom_border_custom {
    border-bottom: solid 1px rgba(215, 211, 226, 0.78);
}

/*Hover id for grey faint background*/
ul a li:hover {
    background: rgba(243, 242, 245, 0.91);
}

.first-activity-box:hover {
    background: rgba(247, 248, 245, 0.91);
    border-radius: 2px;
}

.unread {
    background: rgba(237, 238, 235, 0.91);
    /*background : rgb(143, 152, 149);*/
    padding: 3px;
    border-radius: 2px;
}

#hover_grey_faint_bg:hover {
    background: rgba(243, 242, 245, 0.91);
}

.hover_grey_faint_bg:hover {
    background: rgba(243, 242, 245, 0.91);
}

/*Button Background Color*/
.save_button {
    background: #0f82f5 !important;
    border: solid 1px #0f82f5 !important;
    border-radius: 3px;
}

.site-btn {
    border: solid 1px #0f82f5 !important;
    border-radius: 3px;
    color: black !important;
}

.computation-group {
    border: solid 1px #0f82f5 !important;
    border-radius: 3px;
    padding: 2px;
}

.workflow-track-group {
    border: solid 1px green !important;
    border-radius: 3px;
    padding: 2px;
}

.form-control {
    border-radius: 3px;
}

.save_button:hover {
    background: #2b8ef5 !important;
}

.dishonour_button {
    background: green !important;
    border: solid 1px green !important;
}

.dishonour_button:hover {
    background: limegreen !important;
    border: solid 1px limegreen !important;
}

.cancel_button {
    color: rgba(0, 0, 0, 0.8) !important;
    background: #ddd !important;
    border : solid 1px rgba(184, 179, 195, 0.78) !important;
    border-radius: 3px;
}
.cancel_button:hover {
    background: #e9ecef !important;
}

.delete_button {
    color: #fff !important;
    background: #e20925 !important;
    border : solid 1px #e20925 !important;
}

.delete_button:hover {
    background: red !important;
}

.required_asterik{
    color: red !important;
}

/*Table header color*/
.wrapper table thead tr th {
    color: rgba(3, 3, 6, 0.81);
    background: rgba(243, 242, 245, 0.91); }

.wrapper table thead tr th td {
    color: rgba(3, 3, 6, 0.81);
    background: rgba(243, 242, 245, 0.91);
}

/*Form Legends*/
legend {
    padding: 0.2em 0.5em;
    border-bottom:1px solid #ddd;
    border-bottom-color: #c3c3c3;
    color: rgba(92, 97, 105, 0.81);
    font-size:120%;
    font-weight: bold;
    text-align:left;
    border-radius: 3px;
}

hr {
    border-bottom:1px solid #ddd;
    margin-top: 1px !important;
}

/*Labels */
.label.label-danger{
    color: white;
}

/*Colors*/
.black_color{
    color: #111;
}

.light_dark_color{
    color: #636363;
}

.light_green_color{
    color: #4c634b;
    /*color: #4d633d;*/
    /*color: #538064;*/
}

.red_color{
    color: red;
}

.warning_color_custom{
    color: #f0ad4e;
}

.success_color_custom{
    color: #5cb85c;
}

.info_color_custom{
    color: #5bc0de;
}

.danger_color_custom{
    color: #d9534f;
}
/*Modals*/
.grey_modal {
    background: #cdcdcd !important;
    border-radius: 3px;
    padding: 4px;
}

.grey_info{
    background: #a9cd9d !important;
}

.white_modal {
    background: #fbfffd !important;;
}

/*back color*/
.light_grey_bg{
    background: #f1eff0 !important;
    /*background: #eceeef !important;*/
}



/*Dropdown-item */
.mydropdown-item:hover{
    background: #f1f3f9 !important;
}
.mydropdown-item{
    color: #000000 !important;
}


.label {
    border-radius:5px;
    padding:2px;
}

.hidden {
    display:none!important;
    visibility:hidden!important
}

.small,small {
    font-size:90%;
    font-weight:400;
}

.text-yellow {
    color: #FFB848;
}

.text-orange {
    color: #F58A5C;
}

.text-pink {
    color: #DD5A82;
}

.text-red {
    color: #fb8e16 !important;
}

.text-white {
    color: #fcfcfc;
}

.underline {
    border-bottom: 1px dashed #999;
    text-decoration: none;
    color : #030b06;
}

.btn-submit {
    border-radius: 2px;
}

.input-radius {
    border-radius: 5px !important;
}

.el-radius {
    border-radius: 5px !important;
    padding: 3px;
    text-align: center;
    color: white;
}

.required:after {
    color: #ff2605;
    content: "  *";
}

.form-error {
    border-color : red;
    /* transition-duration: 2s; */

}

.login-background {
    /* background-image: url("../image/login_v1.jpg"); */
}

.login-mac-logo {
    /*display: table-cell;*/
    /*vertical-align: middle;*/
    display: table;
    height: auto;
    margin: 0 auto;
    min-width: 450px;
    position: relative;
}

.login-page {
    height: 50%;
}

.login-background:before {
    background: rgba(255, 255, 255, 0);
}

.login-form {
    background: rgba(0, 0, 0, 0.67);
    padding: 60px 50px 50px 50px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

@media (max-width: 479px) {
    .login-form {
        margin: auto 15px 0; }
 }

.login-form-border {
    background: transparent;
    color: #f2fff8;
}
.login-form-border:focus {
    color: #FFFFFF;
    background-color: transparent;
    border-color: #FFFFFF;
}

.permission-check {
    pointer-events: none;
    opacity: 0.5;
}

#receipt_collection_chart {
    height : 333px;
}


#notification_receiving_chart {
    height : 333px;
}

#case_register_chart {
    height : 333px;
}

.graph_height {
    height : 333px;
}

[aria-live=polite] {
    z-index:1700;pointer-events:none;
}

.image-blockquote {
    background-color: #f5f5f5;
    border-radius: 3px;
    padding: 5px;
}

.inactive {
    color : red;
    text-decoration:line-through;
}

.badge-summary {
    color: #0f82f5;
    border: green solid 1px;
    border-radius: 20px;padding: 5px;
}

.badge-summary-alert {
    color: #f55384;
    border: #008000 solid 1px;
    border-radius: 20px;padding: 5px;
}

.active_link {
    background: rgba(243, 242, 245, 0.91);
}

.blink {
    -webkit-animation: blink .5s step-end infinite alternate;
    border: 1px solid #de5d5d;
}

.fadeinout_2s {
    opacity: 1;
    animation: fade 2s linear infinite;
    /*-webkit-animation: blink 1s step-end infinite alternate;*/
    color: #de5d5d;
    /*border: 1px solid #de5d5d;*/
}

@keyframes fade {
    /*0%,100% { opacity: 1 }*/
    50% { opacity: 0 }
}

@-webkit-keyframes blink { 50% { border-color: #de5d5d; }  }

.form_input_text_sm{
    font-size: 11px !important;
}